---
apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: ansible-automation-platform
  namespace: {{ aap_operator_namespace }}
  labels:
    operators.coreos.com/{{ aap_operator_namespace }}: ""
spec:
  name: ansible-automation-platform-operator
  channel: stable-2.4
  installPlanApproval: Manual
  source: redhat-operators
  sourceNamespace: openshift-marketplace
